services:
  # --- MAIN BACKEND SERVICES ---
  backend:
    image: registry.gitlab.com/kdg-ti/inf-curriculum/domain-integration/integration-5/2025-2026/team8/backend:latest
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://kdg-db:5432/kdg
      SPRING_DATASOURCE_USERNAME: kdg
      SPRING_DATASOURCE_PASSWORD: kdg
      SPRING_RABBITMQ_HOST: app_rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: user
      SPRING_RABBITMQ_PASSWORD: password
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://idp_keycloak:8080/realms/og-realm
    ports:
      - "9090:8081"
    depends_on:
      - kdg-db
      - app_rabbitmq
      - idp_keycloak
    networks:
      - backend
      - kc

  kdg-db:
    image: postgres:17.2-alpine
    restart: always
    environment:
      POSTGRES_DB: 'kdg'
      POSTGRES_USER: 'kdg'
      POSTGRES_PASSWORD: 'kdg'
      PGDATA: /var/lib/postgresql/data
    ports:
      - '2345:5432'
    networks:
      - backend
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./init-scripts/sql/schema-creation.sql:/docker-entrypoint-initdb.d/01-schema.sql

  app_rabbitmq:
    image: rabbitmq:3.13.7-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: 'user'
      RABBITMQ_DEFAULT_PASS: 'password'
    ports:
      - "5673:5672"
      - "15673:15672"
    networks:
      - backend
      - chessgame-backend  # IMPORTANT: Connects both systems
    volumes:
      - ./rabbitmq/data/:/var/lib/rabbitmq/
      - ./rabbitmq/log/:/var/log/rabbitmq/

  idp_mysql:
    image: mysql:8.4
    volumes:
      - ./idp_mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: 'root'
      MYSQL_DATABASE: 'keycloak'
      MYSQL_USER: 'keycloak'
      MYSQL_PASSWORD: 'password'
    ports:
      - '3307:3306'
    networks:
      - kc
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  idp_keycloak:
    image: quay.io/keycloak/keycloak:26.3
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: 'admin'
      KC_BOOTSTRAP_ADMIN_PASSWORD: 'admin'
      KC_DB: 'mysql'
      KC_DB_URL_HOST: 'idp_mysql'
      KC_DB_URL_DATABASE: 'keycloak'
      KC_DB_USERNAME: 'keycloak'
      KC_DB_PASSWORD: 'password'
      KC_HTTP_ENABLED: 'true'  #  for CORS
      KC_HOSTNAME_STRICT: 'false'
      KC_HOSTNAME_STRICT_HTTPS: 'false'
    command: start-dev --import-realm
    ports:
      - "8180:8080"
    depends_on:
      idp_mysql:
        condition: service_healthy  # Change this
    networks:
      - kc
    volumes:
      - ./keycloak/og-realm.json:/opt/keycloak/data/import/og-realm.json

  # --- CHESS GAME SERVICES  ---

  app_chessgame_front:
    image: registry.gitlab.com/kdg-ti/integration-5/chessgame/front:latest
    ports:
      - '3333:80'
    networks:
      - chessgame-backend
    depends_on:
      - app_chessgame_back
      - app_rabbitmq
      - app_postgres


  app_chessgame_back:
    image: registry.gitlab.com/kdg-ti/integration-5/chessgame/back:latest
    ports:
      - '8080:8080'
    networks:
      - chessgame-backend
    depends_on:
      - app_postgres
      - app_rabbitmq
    environment:
      - GAME_REGISTRATION_ID=8496c496-a884-48ed-9bb3-7c3aa50fb8ca
      - DATASOURCE_URL=jdbc:postgresql://app_postgres:5432/postgres
      - DATASOURCE_USER=user
      - DATASOURCE_PASSWORD=password
      - RABBIT_HOST=app_rabbitmq
      - RABBIT_PORT=5672
      - RABBIT_USER=user
      - RABBIT_PASSWORD=password

  app_postgres:
    image: postgres:17.6-alpine
    restart: always
    environment:
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: 'password'
      POSTGRES_DB: 'postgres'
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - '5443:5432'
    networks:
      - chessgame-backend
    volumes:
      - chessgame-db-data:/var/lib/postgresql/data/pgdata
      - ./init-scripts/sql:/docker-entrypoint-initdb.d

volumes:
  db-data:
  chessgame-db-data:

networks:
  kc:
    name: kc-network
    driver: bridge
  backend:
    name: back-network
    driver: bridge
  chessgame-backend:
    name: chessgame-network
    driver: bridge